---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro"
import SectionContainer from "../components/SectionContainer.astro"
---

<Layout
	title="DevRecursos - Recursos de programacion y desarrollo web en un solo lugar"
>
	<SectionContainer class="h-[calc(100vh-56px)]">
		<main class="flex flex-col gap-y-2 z-10">
			<h1 class="md:text-5xl text-4xl font-bold z-10 text-gray-200 tracking-tight text-center">
				Dev Recursos
			</h1>
			<p class="md:text-lg text-center text-pretty opacity-85 text-sm px-2">El sitio web donde encontraras todos los <span class="text-green-600">recursos</span> que un <span class="text-green-600">desarrollador</span> frontend o fullstack necesita.</p>
			<Badge>Proximamente</Badge>
		</main>
	</SectionContainer>
</Layout>
