---
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer class="h-14">
    <footer class="mx-auto">
        <p class="text-gray-300">Diseñado con ❤️ por Julian Re. </p>
    </footer>
</SectionContainer>
